<section id="na-zywo" class="live">
  <div class="container">
    <h2 class="live__title heading-2">Podgląd na żywo</h2>

    <div class="live__cameras">
      <div class="live__camera">
        <h3 class="live__camera-title heading-4">Kasprowy Wierch</h3>
        <iframe src="https://imageserver.webcamera.pl/umiesc/kasprowy-wierch" class="live__iframe"></iframe>
      </div>
      <div class="live__camera">
        <h3 class="live__camera-title heading-4">Krupówki</h3>
        <iframe src="https://imageserver.webcamera.pl/umiesc/krupowkidolne" class="live__iframe"></iframe>
      </div>
    </div>

    @if (Object.keys(weather()).length) {
      <h2 class="live__title live__subtitle heading-2">Pogoda</h2>
      <div class="live__weather">
        <div class="live__left">
          <h3 class="live__weather-title heading-4">{{ weather().name }}, Polska</h3>
          <h3 class="live__weather-title heading-4">{{ Math.round(weather().main.temp - 274.15) }} &#176; C</h3>
          @if (weather().weather) {
            <img [src]="'https://openweathermap.org/img/w/' + weather().weather[0].icon + '.png'" alt="" />
          }
          <p>{{ weather().weather[0].description }}</p>
        </div>
        <div class="live__right">
          <p>Wilgotność powietrza: {{ weather().main.humidity }}%</p>
          <p>Ciśnienie atmosferyczne: {{ weather().main.pressure }} hPa</p>
          <p>Zachmurzenie: {{ weather().clouds.all }}%</p>
          <p>Widoczność: {{ weather().visibility }}m</p>
        </div>
      </div>
    }
  </div>
</section>
